#Logo{
    border-radius: 50%;
    border: 3px solid black;
   float:left; 
   margin-top: 35px;
   margin-left: 40%;
}
#ToDoHeading{
    font-weight: bold;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 300%;
    font-display: initial;
    padding-left: 20px;
    text-align: center;
    margin-top: 50px;
    margin-right: 40%;
}
   .container{
    width:100%;
    height:auto;
    padding:1%;
    display:block;
    justify-content: center;

   
}

 a {
    color:white;
} 

#discription{
    font-size: 100%;
    padding-left: 100px;
}
#name{
    font-size: 100%;
    padding: 100px;
}





